/*! created by Jihe Im from June 2016 */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto);
@import url(notosans.css);

$color-font: #333;
$color-sub-font: #646464;
$color-point: #3c56be;
$color-font-list: #fff;
$color-background: #fbfbfb;
$heart: #fd5c71;

$break-small: 768px;
$break-large: 1024px;

//media queries
@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}


//rem calculator
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

//clearfix
@mixin clearfix{
	*zoom:1;
	&:after{
		content: "";
		display: block;
		clear: both;
	}
}

//ellipsis
@mixin ellipsis{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

//center layout with flexbox
@mixin flex-center{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-align-items: center;
	-webkit-align-items: center;
	align-items: center;

	-ms-flex-align: center;
	-webkit-justify-content: center;
	justify-content: center;

	flex-direction: column;
}

//transition
@mixin transition($property, $duration, $function){
	transition-property: $property;
	transition-duration: $duration;
	transition-timing-function: $function;
}


/* reset */
*{
	box-sizing: border-box;
}


li{
	list-style: none;
}

h1,h2,h3,h4,h5,h6,
ul,li,ol,dl,dt,dd,p,img{
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6{
	letter-spacing: -0.050em;
}

img,object{
	max-width: 100%;
}

button, a{
	outline: 0;
}

a{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: $color-font;
	@include transition(all, 0.4s, ease);
}

h1{
	font-size: calculateRem(50px);

	@include respond-to(handhelds) { 
		font-size: calculateRem(25px);
	}
}


/* layout */
html{
	font: 16px 'Montserrat', sans-serif;
	background: $color-background;
	color: $color-font;
}

.kor{
	font-family: 'Noto Sans Korean', sans-serif;
}

.intro,
.works,
.work-content,
.aboutme{
	padding: 0 3% 3% 120px;

	@include respond-to(medium-screens) { 
		padding: 0 5% 5% 120px; 
	}

	@include respond-to(handhelds) { 
		padding: 5%; 
	}
}

/* index */ 

.intro{
	@include flex-center;
	height: 85vh;
	
	@include respond-to(medium-screens) { 
		height: 55vh;
	}

	@include respond-to(handhelds) { 
		height: 80vh;
	}

	h1{
		position: relative;
		@include respond-to(handhelds) { 
			width: 100%;
		}
	}

	strong{
		color: $color-point;
	}
}


.intro-menu{
	display: block;

	@include respond-to(handhelds) { 
		display: none;
	}
}



.intro-menu-list{
	position: fixed;
	transform: rotate(-90deg);
	transform-origin: 0 0;
	left: 50px;
	top: 92vh;
	z-index: 200;

	li{
		display: inline-block;

		a{
			margin: 0 20px;
		}
	}
}

.intro-menu-mobile{
	display: none;

	@include respond-to(handhelds) { 
		display: block;
	}
}

.intro-menu-mobile-list{
	@include flex-center;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: -100vh;
	left: 0;
	transform: none;
	background: $color-point;
	line-height: 55px;
	text-align: center;
	z-index: 200;

	a{
		margin: 0 10px;
		color: #fff;
		font-size: calculateRem(30px);
	}
}


.home{
	display: none;

	@include respond-to(handhelds) {
		display: inline-block;
	}
}

.mobile-gnb-open{
	display: none !important;
	

	@include respond-to(handhelds) {
		display: block !important;
		position: fixed;
		top: 2%;
		left: 2%;
		display: inline-block;
		text-align: center !important;
		width: calculateRem(50px);
		height: calculateRem(50px);
		background: $color-background;
		border-radius: 50%;
		color: $color-font;
		border: 0;
		z-index: 100;

		i{
			text-align: center !important;
			font-size: calculateRem(24px);
		}
	}
}

.mobile-gnb-close{
	position: fixed;
	font-size: calculateRem(24px);
	top: 2%;
	right: 2%;
	display: inline-block;
	text-align: center;
	width: 50px;
	height: 50px;
	border: 0;
	background: url('../img/x.png') no-repeat 50% 50%;
	background-size: 45%;
	color: #fff;
	z-index: 300;

	img{
		display: inline-block;
		width: 25px !important;
		height: 25px !important;
		text-align: center;
	}
}





.works{
	h1{
		margin-bottom: 25px;

		@include respond-to(handhelds) {
			margin-bottom: 12px;
		}
	}
}


.works-list{
	width: 100%;
	margin-left: calculateRem(-4px);
	@include clearfix;

	@include respond-to(medium-screens) { 
		margin-left: calculateRem(-4px);
	}

	@include respond-to(handhelds) { 
		margin-left: calculateRem(-2px);
	}
	
	li{
		width: 25%;
		padding: calculateRem(4px);
		float: left;

		@include respond-to(medium-screens) { 
			padding: calculateRem(5px);
		}

		@include respond-to(handhelds) { 
			width: 50%;
			padding: calculateRem(2px);
			margin-bottom: calculateRem(10px);
		}

		a{	
			display: block;
			position: relative;
			width: 100%;
			height: 100%;
			color: #fff;

			&:hover .works-list-title{
				@include flex-center;
			}
		}

		img{
			display: block;
			width: 100%;
		}
	}

}


.works-list-title{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'Roboto',sans-serif;
	color: #fff;

	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;

	@include respond-to(handhelds) {
		display: block;
		position: static;
		background: none;
	}

	div{
		width: 100%;
	}

	h2{
		padding: 0 5%;
		letter-spacing: 0;
		text-align: center;
		@include ellipsis;
		color: #fff;
		line-height: 1.5rem;

		@include respond-to(handhelds) {
			padding: 0;
			color: $color-font;
			font-size: calculateRem(16px);
			font-family: 'Montserrat',sans-serif;
			font-weight: normal;
			letter-spacing: -0.050em;
		    margin-top: calculateRem(7px);
		    text-align: left;
		}

		&:after{
			content: "";
			display: block;
			width: 30px;
			height: 1px;
			margin: 20px auto 0;
			background: #fff;

			@include respond-to(handhelds) {
				display: none;
			}
		}
	}

	p{
		margin-top: 20px;
		text-align: center;
		font-size: calculateRem(25px);

		@include respond-to(handhelds) {
			color: $color-font;
			margin-top: 0;
			text-align: left;
			font-size: calculateRem(12px);
		}
	}
}


/* detail page */ 
.goback{
	position: fixed;
	top: calculateRem(37px);
	left: calculateRem(37px);
	width: calculateRem(50px);
	height: calculateRem(50px);
	border-radius: 50%;
	background: $color-point;

	@include respond-to(handhelds) {
		display: none;
	}

	i{
		width: 100%;
		color: #fff;
		font-size: calculateRem(37px);
		vertical-align: middle;
		margin: calculateRem(5px) 0 0 calculateRem(-3px); /* 5px -3px */
		text-align: center;
	}
}

.work-content{
	padding-top: 120px;

	@include respond-to(handhelds) {
		padding: 0 !important;
	}
}

.work-desc{	
	margin: 38px 0;

	@include respond-to(handhelds) {
		margin: 15px 0;
		padding: 5%;
	}	

	dl{
		border-bottom: 1px solid #e6e6e6;
	}

	dt{
		display: inline-block;
		margin-right: 24px;
		min-width: 40px;
		vertical-align: top;
		color: $color-sub-font;
		text-transform: uppercase;
		font-family: 'Roboto',sans-serif;
		font-size: calculateRem(12px);
		line-height: calculateRem(24px);


		@include respond-to(handhelds) {
			display: block;
			margin-right: 0;
		}
	}

	dd{
		display: inline-block;

	}
}

.work-desc-title{
	h2{
		font-size: calculateRem(50px);
		display: inline-block;
		vertical-align: middle;

		&.kor{
			font-size: calculateRem(45px);
		}

		@include respond-to(handhelds) {
			font-size: calculateRem(30px);
			display: block;

			&.kor{
				font-size: calculateRem(25px);
			}
		}
	}
}



.work-desc-link{
	display: inline-block;
	margin-left: 10px;
	padding: 0 15px;
	line-height: calculateRem(38px);
	text-align: center;
	border-radius: calculateRem(19px);
	font-size: calculateRem(18px);
	vertical-align: middle;
	color:  lighten($color-font, 10%);
	border: 1px solid lighten($color-font, 30%);

	&:hover{
		background: lighten($color-font, 30%);
		color: #fff;
	}

	@include respond-to(handhelds) {
		margin: 15px 0;
		line-height: calculateRem(28px);
	}

	i{
		margin-right: 5px;
	}
}

.work-desc-role{
	padding: 10px 0;

	@include respond-to(handhelds) {
		padding: 5px 0;
	}

	span{
		margin-right: 20px;
		font-size: calculateRem(24px);
		font-weight: bold;
		letter-spacing: -0.050em;

		@include respond-to(handhelds) {
			margin-right: 5px;
			font-size: calculateRem(15px);
		}
	}
}

.work-desc-article{
	font-family: 'Noto Sans Korean', sans-serif;
	margin: calculateRem(34px) 0 calculateRem(80px);
	line-height: 1.5;
	color: lighten($color-font, 10%);

	@include respond-to(handhelds) {
		margin: calculateRem(15px) 0 calculateRem(20px);
	}
}

.work-content-list{

	@include respond-to(handhelds) {
		padding: 0 5% 5%;
	}

	li{
		margin-bottom: calculateRem(12px);
		text-align: center;
	}
	
}


.aboutme{
	height: 100vh;
	@include flex-center;

	@include respond-to(medium-screens) {
		height: auto;
		margin-top: calculateRem(50px);
	}

	@include respond-to(handhelds) {
		height: auto;
		margin-top: calculateRem(50px);
	}
}

.aboutme-frame{
	position: relative;

	@include respond-to(handhelds) {
		margin-top: calculateRem(20px);
		height: auto;
	}

	h1{
		margin-bottom: calculateRem(10px);

		@include respond-to(handhelds) {
			position: absolute;
			z-index: 20;
			margin: calculateRem(20px);
			padding: calculateRem(10px) calculateRem(20px);
			background: #fff;
		}
	}

	

}

.aboutme-desc{
	float: left;
	margin-left: calculateRem(20px);
	padding: calculateRem(20px);
	
	@include respond-to(medium-screens) {
		margin-top: calculateRem(20px);
		margin-left: 0;
		padding: 0 0 calculateRem(50px);
	}

	@include respond-to(handhelds) {
		margin-left: 0;
		padding: calculateRem(20px) 0 calculateRem(50px);
	}
}

.aboutme-desc-eng{
	margin-top: calculateRem(20px);
	i{
		color: $heart;
	}
}

.aboutme-frame-img{
	position: relative;
	float: left;
	width: 400px;

	p{
		position: absolute;
		left: calculateRem(20px);
		bottom: calculateRem(20px);
		color: #fff;

		i{
			margin-right: 10px;
		}
	}

	@include respond-to(handhelds) {
		width: 100%;

		img{
			position: relative;
			width: 100%;
			z-index: 10;
		}
	}
}