/*! created by Jihe Im from June 2016 */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto);
@import url(notosans.css);
/* reset */
* {
  box-sizing: border-box; }

li {
  list-style: none; }

h1, h2, h3, h4, h5, h6,
ul, li, ol, dl, dt, dd, p, img {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.050em; }

img, object {
  max-width: 100%; }

button, a {
  outline: 0; }

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease; }

h1 {
  font-size: 3.125rem; }
  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 1.5625rem; } }

/* layout */
html {
  font: 16px 'Montserrat', sans-serif;
  background: #fbfbfb;
  color: #333; }

.kor {
  font-family: 'Noto Sans Korean', sans-serif; }

.intro,
.works,
.work-content,
.aboutme {
  padding: 0 3% 3% 120px; }
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    .intro,
    .works,
    .work-content,
    .aboutme {
      padding: 0 5% 5% 120px; } }
  @media only screen and (max-width: 768px) {
    .intro,
    .works,
    .work-content,
    .aboutme {
      padding: 5%; } }

/* index */
.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-direction: column;
  height: 85vh; }
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    .intro {
      height: 55vh; } }
  @media only screen and (max-width: 768px) {
    .intro {
      height: 80vh; } }
  .intro h1 {
    position: relative; }
    @media only screen and (max-width: 768px) {
      .intro h1 {
        width: 100%; } }
  .intro strong {
    color: #3c56be; }

.intro-menu {
  display: block; }
  @media only screen and (max-width: 768px) {
    .intro-menu {
      display: none; } }

.intro-menu-list {
  position: fixed;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  left: 50px;
  top: 92vh;
  z-index: 200; }
  .intro-menu-list li {
    display: inline-block; }
    .intro-menu-list li a {
      margin: 0 20px; }

.intro-menu-mobile {
  display: none; }
  @media only screen and (max-width: 768px) {
    .intro-menu-mobile {
      display: block; } }

.intro-menu-mobile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: -100vh;
  left: 0;
  transform: none;
  background: #3c56be;
  line-height: 55px;
  text-align: center;
  z-index: 200; }
  .intro-menu-mobile-list a {
    margin: 0 10px;
    color: #fff;
    font-size: 1.875rem; }

.home {
  display: none; }
  @media only screen and (max-width: 768px) {
    .home {
      display: inline-block; } }

.mobile-gnb-open {
  display: none !important; }
  @media only screen and (max-width: 768px) {
    .mobile-gnb-open {
      display: block !important;
      position: fixed;
      top: 2%;
      left: 2%;
      display: inline-block;
      text-align: center !important;
      width: 3.125rem;
      height: 3.125rem;
      background: #fbfbfb;
      border-radius: 50%;
      color: #333;
      border: 0;
      z-index: 100; }
      .mobile-gnb-open i {
        text-align: center !important;
        font-size: 1.5rem; } }

.mobile-gnb-close {
  position: fixed;
  font-size: 1.5rem;
  top: 2%;
  right: 2%;
  display: inline-block;
  text-align: center;
  width: 50px;
  height: 50px;
  border: 0;
  background: url("../img/x.png") no-repeat 50% 50%;
  background-size: 45%;
  color: #fff;
  z-index: 300; }
  .mobile-gnb-close img {
    display: inline-block;
    width: 25px !important;
    height: 25px !important;
    text-align: center; }

.works h1 {
  margin-bottom: 25px; }
  @media only screen and (max-width: 768px) {
    .works h1 {
      margin-bottom: 12px; } }

.works-list {
  width: 100%;
  margin-left: -0.25rem;
  *zoom: 1; }
  .works-list:after {
    content: "";
    display: block;
    clear: both; }
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    .works-list {
      margin-left: -0.25rem; } }
  @media only screen and (max-width: 768px) {
    .works-list {
      margin-left: -0.125rem; } }
  .works-list li {
    width: 25%;
    padding: 0.25rem;
    float: left; }
    @media only screen and (min-width: 769px) and (max-width: 1023px) {
      .works-list li {
        padding: 0.3125rem; } }
    @media only screen and (max-width: 768px) {
      .works-list li {
        width: 50%;
        padding: 0.125rem;
        margin-bottom: 0.625rem; } }
    .works-list li a {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      color: #fff; }
      .works-list li a:hover .works-list-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-align-items: center;
        -webkit-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        -webkit-justify-content: center;
        justify-content: center;
        flex-direction: column; }
    .works-list li img {
      display: block;
      width: 100%; }

.works-list-title {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Roboto',sans-serif;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%; }
  @media only screen and (max-width: 768px) {
    .works-list-title {
      display: block;
      position: static;
      background: none; } }
  .works-list-title div {
    width: 100%; }
  .works-list-title h2 {
    padding: 0 5%;
    letter-spacing: 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    line-height: 1.5rem; }
    @media only screen and (max-width: 768px) {
      .works-list-title h2 {
        padding: 0;
        color: #333;
        font-size: 1rem;
        font-family: 'Montserrat',sans-serif;
        font-weight: normal;
        letter-spacing: -0.050em;
        margin-top: 0.4375rem;
        text-align: left; } }
    .works-list-title h2:after {
      content: "";
      display: block;
      width: 30px;
      height: 1px;
      margin: 20px auto 0;
      background: #fff; }
      @media only screen and (max-width: 768px) {
        .works-list-title h2:after {
          display: none; } }
  .works-list-title p {
    margin-top: 20px;
    text-align: center;
    font-size: 1.5625rem; }
    @media only screen and (max-width: 768px) {
      .works-list-title p {
        color: #333;
        margin-top: 0;
        text-align: left;
        font-size: 0.75rem; } }

/* detail page */
.goback {
  position: fixed;
  top: 2.3125rem;
  left: 2.3125rem;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background: #3c56be; }
  @media only screen and (max-width: 768px) {
    .goback {
      display: none; } }
  .goback i {
    width: 100%;
    color: #fff;
    font-size: 2.3125rem;
    vertical-align: middle;
    margin: 0.3125rem 0 0 -0.1875rem;
    /* 5px -3px */
    text-align: center; }

@media only screen and (max-width: 768px) {
  .work-content {
    padding: 0 !important; } }

.work-desc {
  margin: 20px 0; }
  @media only screen and (max-width: 768px) {
    .work-desc {
      margin: 15px 0;
      padding: 5%; } }
  .work-desc dl {
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6; }
  .work-desc dt {
    display: inline-block;
    margin-right: 24px;
    width: 70px;
    vertical-align: top;
    color: #646464;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    font-size: 0.75rem;
    line-height: 1.5rem; }
    @media only screen and (max-width: 768px) {
      .work-desc dt {
        display: block;
        margin-right: 0; } }
  .work-desc dd {
    display: inline-block; }

.work-desc-title h2 {
  font-size: 3.125rem;
  display: inline-block;
  vertical-align: middle; }
  .work-desc-title h2.kor {
    font-size: 2.8125rem; }
  @media only screen and (max-width: 768px) {
    .work-desc-title h2 {
      font-size: 1.875rem;
      display: block; }
      .work-desc-title h2.kor {
        font-size: 1.5625rem; } }

.work-desc-link {
  display: inline-block;
  margin-left: 10px;
  padding: 0 15px;
  line-height: 2.375rem;
  text-align: center;
  border-radius: 1.1875rem;
  font-size: 1.125rem;
  vertical-align: middle;
  color: #4d4d4d;
  border: 1px solid gray; }
  .work-desc-link:hover {
    background: gray;
    color: #fff; }
  @media only screen and (max-width: 768px) {
    .work-desc-link {
      margin: 15px 0;
      line-height: 1.75rem; } }
  .work-desc-link i {
    margin-right: 5px; }

.work-desc-role {
  border-bottom: none !important; }
  .work-desc-role dd .meter {
    display: inline-block;
    float: left;
    width: 300px;
    height: 10px;
    margin: 7px 10px 0 0;
    border-radius: 5px;
    background: #dcdcdc; }
    .work-desc-role dd .meter .bar {
      display: block;
      height: 10px;
      border-radius: 5px;
      background: -moz-linear-gradient(left, #3c56be 0%, #4ad5e8 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #3c56be 0%, #4ad5e8 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #3c56be 0%, #4ad5e8 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .work-desc-role dd span {
    display: inline-block;
    font-weight: bold;
    margin-top: 2px; }
    @media only screen and (max-width: 768px) {
      .work-desc-role dd span {
        margin-top: 7px; } }

.work-desc-client {
  border-top: 1px solid #e6e6e6; }
  @media only screen and (max-width: 768px) {
    .work-desc-client {
      padding: 5px 0; } }
  .work-desc-client .role-meter dl {
    display: flex;
    border-bottom: none; }
  .work-desc-client .role-meter dt {
    width: 70px; }
  .work-desc-client .role-meter dd {
    vertical-align: middle;
    width: calc(100% - 70px); }
    .work-desc-client .role-meter dd .meter {
      display: flex;
      width: 12.5rem;
      height: 10px;
      border-radius: 5px;
      background: #dcdcdc; }
  .work-desc-client span {
    display: flex;
    vertical-align: bottom;
    margin-right: 20px;
    font-size: 0.875rem;
    font-weight: bold;
    letter-spacing: -0.050em; }
    @media only screen and (max-width: 768px) {
      .work-desc-client span {
        margin-right: 5px;
        font-size: 0.9375rem; } }

.work-desc-article {
  font-family: 'Noto Sans Korean', sans-serif;
  margin: 2.125rem 0 5rem;
  line-height: 1.5;
  color: #4d4d4d; }
  @media only screen and (max-width: 768px) {
    .work-desc-article {
      margin: 0.9375rem 0 1.25rem; } }

@media only screen and (max-width: 768px) {
  .work-content-list {
    padding: 0 5% 5%; } }
.work-content-list li {
  margin-bottom: 0.75rem;
  text-align: center; }

.aboutme {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-direction: column; }
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    .aboutme {
      height: auto;
      margin-top: 3.125rem; } }
  @media only screen and (max-width: 768px) {
    .aboutme {
      height: auto;
      margin-top: 3.125rem; } }

.aboutme-frame {
  position: relative; }
  @media only screen and (max-width: 768px) {
    .aboutme-frame {
      margin-top: 1.25rem;
      height: auto; } }
  .aboutme-frame h1 {
    margin-bottom: 0.625rem; }
    @media only screen and (max-width: 768px) {
      .aboutme-frame h1 {
        position: absolute;
        z-index: 20;
        margin: 1.25rem;
        padding: 0.625rem 1.25rem;
        background: #fff; } }

.aboutme-desc {
  float: left;
  margin-left: 1.25rem;
  padding: 1.25rem; }
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    .aboutme-desc {
      margin-top: 1.25rem;
      margin-left: 0;
      padding: 0 0 3.125rem; } }
  @media only screen and (max-width: 768px) {
    .aboutme-desc {
      margin-left: 0;
      padding: 1.25rem 0 3.125rem; } }

.aboutme-desc-eng {
  margin-top: 1.25rem; }
  .aboutme-desc-eng i {
    color: #fd5c71; }

.aboutme-frame-img {
  position: relative;
  float: left;
  width: 400px; }
  .aboutme-frame-img p {
    position: absolute;
    left: 1.25rem;
    bottom: 1.25rem;
    color: #fff; }
    .aboutme-frame-img p i {
      margin-right: 10px; }
  @media only screen and (max-width: 768px) {
    .aboutme-frame-img {
      width: 100%; }
      .aboutme-frame-img img {
        position: relative;
        width: 100%;
        z-index: 10; } }

/*# sourceMappingURL=style.css.map */
