/*! created by Jihe Im from June 2016 */
/*! Modified by Jihe Im from Jan 2018 */


@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto);
@import url(notosans.css);

$color-font: #333;
$color-sub-font: #646464;
$color-point: #3c56be;
$color-font-list: #fff;
$color-background: #fbfbfb;
$heart: #fd5c71;

$break-small: 768px;
$break-large: 1024px;

//media queries
@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}


//rem calculator
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

//graph bar animation
@keyframes p100 {
  0%   { width: 0; }
  100% { width: 100%; }
}


@keyframes p90 {
  0%   { width: 0; }
  100% { width: 90%; }
}

@keyframes p30 {
  0%   { width: 0; }
  100% { width: 30%; }
}

//button fadeIn animation
@keyframes btnFadeIn {
  0%   { opacity: 0; }
  60%   { opacity: 0; }
  100% { opacity: 100%; }
}



//clearfix
@mixin clearfix{
	*zoom:1;
	&:after{
		content: "";
		display: block;
		clear: both;
	}
}

//ellipsis
@mixin ellipsis{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

//center layout with flexbox
@mixin flex-center{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-align-items: center;
	-webkit-align-items: center;
	align-items: center;

	-ms-flex-align: center;
	-webkit-justify-content: center;
	justify-content: center;

	flex-direction: column;
}

//transition
@mixin transition($property, $duration, $function){
	transition-property: $property;
	transition-duration: $duration;
	transition-timing-function: $function;
}



/* reset */
*{
	box-sizing: border-box;
}


li{
	list-style: none;
}

h1,h2,h3,h4,h5,h6,
ul,li,ol,dl,dt,dd,p,img{
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6{
	/*letter-spacing: -0.050em;*/
}

img,object{
	max-width: 100%;
}

button, a{
	outline: 0;
}

a{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: $color-font;
	@include transition(all, 0.4s, ease);
}

h1{
	font-size: calculateRem(50px);

	@include respond-to(handhelds) { 
		font-size: calculateRem(25px);
	}
}


/* layout */
html{
	font: 16px 'Roboto', sans-serif;
	background: $color-background;
	color: $color-font;
}

.kor{
	font-family: 'Noto Sans Korean', sans-serif;
}

.intro,
.works,
.work-content,
.aboutme{
	padding: 0 6% 6% 200px;

	@include respond-to(medium-screens) { 
		padding: 0 5% 5% 120px; 
	}

	@include respond-to(handhelds) { 
		padding: 5%; 
	}
}

/* index */ 

.intro{
	@include flex-center;
	height: 85vh;
	
	@include respond-to(medium-screens) { 
		height: 55vh;
	}

	@include respond-to(handhelds) { 
		height: 80vh;
	}

	h1{
		position: relative;
		@include respond-to(handhelds) { 
			width: 100%;
		}
	}

	strong{
		color: $color-point;
	}
}


.intro-menu{
	display: block;

	@include respond-to(handhelds) { 
		display: none;
	}
}



.intro-menu-list{
	position: fixed;
	transform: rotate(-90deg);
	transform-origin: 0 0;
	left: 50px;
	top: 90vh;
	z-index: 200;

	li{
		display: inline-block;

		a{
			margin: 0 20px;
		}
	}
}

.intro-menu-mobile{
	display: none;

	@include respond-to(handhelds) { 
		display: block;
	}
}

.intro-menu-mobile-list{
	@include flex-center;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: -100vh;
	left: 0;
	transform: none;
	background: $color-point;
	line-height: 55px;
	text-align: center;
	z-index: 200;

	a{
		margin: 0 10px;
		color: #fff;
		font-size: calculateRem(30px);
	}
}


.home{
	display: none;

	@include respond-to(handhelds) {
		display: inline-block;
	}
}

.mobile-gnb-open{
	display: none !important;
	

	@include respond-to(handhelds) {
		display: block !important;
		position: fixed;
		top: 2%;
		left: 2%;
		display: inline-block;
		text-align: center !important;
		width: calculateRem(50px);
		height: calculateRem(50px);
		background: $color-background;
		border-radius: 50%;
		color: $color-font;
		border: 0;
		z-index: 100;
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);

		i{
			text-align: center !important;
			font-size: calculateRem(24px);
		}
	}
}

.mobile-gnb-close{
	position: fixed;
	font-size: calculateRem(24px);
	top: 2%;
	right: 2%;
	display: inline-block;
	text-align: center;
	width: 50px;
	height: 50px;
	border: 0;
	background: url('../img/x.png') no-repeat 50% 50%;
	background-size: 45%;
	color: #fff;
	z-index: 300;

	img{
		display: inline-block;
		width: 25px !important;
		height: 25px !important;
		text-align: center;
	}
}





.works{
	h1{
		margin-bottom: 25px;

		@include respond-to(handhelds) {
			margin-bottom: 12px;
		}
	}
}


.works-list{
	width: 100%;
	margin-left: calculateRem(-4px);
	@include clearfix;

	@include respond-to(medium-screens) { 
		margin-left: calculateRem(-4px);
	}

	@include respond-to(handhelds) { 
		margin-left: calculateRem(-2px);
	}
	
	li{
		width: 25%;
		padding: calculateRem(4px);
		float: left;

		@include respond-to(medium-screens) { 
			padding: calculateRem(5px);
		}

		@include respond-to(handhelds) { 
			width: 50%;
			padding: calculateRem(2px);
			margin-bottom: calculateRem(10px);
		}

		a{	
			display: block;
			position: relative;
			width: 100%;
			height: 100%;
			color: #fff;
			overflow:hidden;

			img{
				display: block;
				width: 100%;
			}

			&:hover{
				.works-list-title{
					top:0 !important;
				}

			} 
		}

		
	}

}


.works-list-title{
	@include flex-center;
	@include transition(top,0.25s,ease-in);
	position: absolute;
	top: 100%;
	left: 0;
	font-family: 'Roboto',sans-serif;
	color: #fff;

	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;

	@include respond-to(handhelds) {
		display: block;
		position: static;
		background: none;
	}

	div{
		width: 100%;
	}

	h2{
		padding: 0 5%;
		letter-spacing: 0;
		text-align: center;
		@include ellipsis;
		color: #fff;
		line-height: 1.5rem;

		@include respond-to(handhelds) {
			padding: 0;
			color: $color-font;
			font-size: calculateRem(16px);
			font-weight: normal;
			letter-spacing: -0.050em;
		    margin-top: calculateRem(7px);
		    text-align: left;
		}

		&:after{
			content: "";
			display: block;
			width: 30px;
			height: 1px;
			margin: 20px auto 0;
			background: #fff;

			@include respond-to(handhelds) {
				display: none;
			}
		}
	}

	p{
		margin-top: 20px;
		text-align: center;
		font-size: calculateRem(25px);

		@include respond-to(handhelds) {
			color: $color-font;
			margin-top: 0;
			text-align: left;
			font-size: calculateRem(12px);
		}
	}
}


/* bar graph */



.meter{
	display: inline-block;
	width: 300px;
	height: 10px;
	margin:7px 10px 0 0;
	border-radius: 5px;
	background: #dcdcdc;

	.bar{
		display:block;
		height: 10px;
		border-radius:5px;
		background: -moz-linear-gradient(left, #3c56be 0%, #825fc5 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #3c56be 0%,#825fc5 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #3c56be 0%,#825fc5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}

	.bar100{
		animation: p100 1s ease-out;
	}

	.bar90{
		animation: p90 1s ease-out;
	}

	.bar30{
		animation: p30 1s ease-out;
	}
}

.meter-percent{
	display: inline-block;
	font-weight: bold;
	margin-top: 2px;

	@include respond-to(handhelds) {
		margin-top: 7px;
	}
}


/* button */
.btn-link{
	display: inline-block;
	padding: 0 15px;
	line-height: calculateRem(30px);
	text-align: center;
	border-radius: calculateRem(19px);
	font-size: calculateRem(16px);
	vertical-align: middle;
	color:  lighten($color-point, 0%);
	border: 1px solid lighten($color-point, 10%);

	&:hover{
		background: lighten($color-point, 10%);
		color: #fff;
	}

	@include respond-to(handhelds) {
		margin: 10px 0;
		line-height: calculateRem(28px);
	}

	i{
		margin-right: 5px;
	}
}



/* detail page */ 
.goback{
	position: fixed;
	top: calculateRem(37px);
	left: calculateRem(37px);
	width: calculateRem(50px);
	height: calculateRem(50px);
	border-radius: 50%;
	background: $color-point;

	@include respond-to(handhelds) {
		display: none;
	}

	i{
		width: 100%;
		color: #fff;
		font-size: calculateRem(37px);
		vertical-align: middle;
		margin: calculateRem(5px) 0 0 calculateRem(-3px); /* 5px -3px */
		text-align: center;
	}
}

.work-content{
	@include respond-to(handhelds) {
		padding: 0 !important;
	}
}



.work-desc{	
	margin: 20px 0;

	@include respond-to(handhelds) {
		margin: 15px 0;
		padding: 0 5%;
	}	

	dl{
		padding: 12px 0;
		border-bottom: 1px solid #e6e6e6;

	}

	dt{
		display: inline-block;
		margin-right: 24px;
		width: 70px;
		vertical-align: top;
		color: $color-sub-font;
		text-transform: uppercase;
		font-family: 'Roboto',sans-serif;
		font-size: calculateRem(12px);
		line-height: calculateRem(24px);


		@include respond-to(handhelds) {
			display: block;
			margin-right: 0;
		}
	}

	dd{
		display:inline-block;

		.btn-link{
			margin-left: 5px;
			animation: btnFadeIn 1.8s;


			@include respond-to(handhelds) {
				margin-left: 0;
			}
		}
	}

}

.work-desc-title{
	h2{
		font-size: calculateRem(30px);
		display: inline-block;
		vertical-align: middle;
		margin-right:13px;

		&.kor{
			font-size: calculateRem(32px);
		}

		@include respond-to(handhelds) {
			font-size: calculateRem(22px);
			display: block;

			&.kor{
				font-size: calculateRem(25px);
			}
		}
	}
}


.btn-link
{
	.btn-link{
		margin-left: 10px;
	}
}

.work-desc-role{

	border-bottom: none !important;	

	.meter{
		float:left;
	}
}


.work-desc-client{

	border-top: 1px solid #e6e6e6;
	
	@include respond-to(handhelds) {
		padding: 5px 0;
	}

	.role-meter {

		dl{
			display:flex;
			border-bottom: none;

		}
		dt{
			width:70px;
		}

		dd{
			vertical-align:middle;
			width:calc(100% - 70px);
			.meter{
				display:flex;
				width:calculateRem(200px);
				height: 10px;
				border-radius:5px;
				background:#dcdcdc;
			}

		}
	}

	span{
		display:flex;
		vertical-align:bottom;
		margin-right: 20px;
		font-size: calculateRem(16px);
		font-weight: bold;

		@include respond-to(handhelds) {
			margin-right: 5px;
			font-size: calculateRem(15px);
		}
	}
}

.work-desc-article{
	font-family: 'Noto Sans Korean', sans-serif;
	margin: calculateRem(34px) 0 calculateRem(80px);
	line-height: 1.5;
	color: lighten($color-font, 10%);

	@include respond-to(handhelds) {
		margin: calculateRem(15px) 0 calculateRem(20px);
	}
}

.work-content-list{

	@include respond-to(handhelds) {
		padding: 0 5% 5%;
	}

	li{
		margin-bottom: calculateRem(12px);
		text-align: center;
	}
	
}


.aboutme{
	height: 100vh;
	@include flex-center;

	@include respond-to(medium-screens) {
		height: auto;
		margin-top: calculateRem(50px);
	}

	@include respond-to(handhelds) {
		height: auto;
		margin-top: calculateRem(50px);
	}
}

.aboutme-frame{
	position: relative;
	overflow:hidden;
	width:100%;

	@media screen and (min-width:1400px) {
	  width:80%;
	}



	@include respond-to(handhelds) {
		margin-top: calculateRem(20px);
		height: auto;
	}

	h1{
		margin-bottom: calculateRem(10px);

		@include respond-to(handhelds) {
			position: absolute;
			z-index: 20;
			margin: calculateRem(20px);
			padding: calculateRem(10px) calculateRem(20px);
			background: #fff;
		}
	}

	

}

.aboutme-desc{
	max-width: 50%;
	float: left;
	margin-left: calculateRem(20px);
	padding: 0 calculateRem(20px)  calculateRem(20px) calculateRem(20px);

	.resume-btns{
		margin-top: 36px;

		.btn-link{
			margin: 0 10px 10px 0;
			padding: 0 25px;

			i{
				margin-right: 10px;
			}


			@include respond-to(handhelds) {
				width:100%;
				margin: 0 0 10px 0;
			}
		}
	}
	


	.skills{
		margin-top:30px;
		border-top: 1px solid #ddd;
		padding-top: 36px;
		
		ul{
			margin-top:15px;

			li{
				margin-bottom:10px;
			}
		}		

	}


	@include respond-to(handhelds) {
		max-width: 100%;
		margin-left: 0;
		padding: calculateRem(20px) 0 calculateRem(50px);
	}
}

.aboutme-desc-eng{
	margin-top: calculateRem(20px);
	i{
		color: $heart;
	}
}

.aboutme-frame-img{
	position: relative;
	float: left;
	width: 40%;

	p{
		position: absolute;
		left: calculateRem(20px);
		bottom: calculateRem(20px);
		color: #fff;

		i{
			margin-right: 10px;
		}
	}

	@include respond-to(handhelds) {
		width: 100%;

		img{
			position: relative;
			width: 100%;
			z-index: 10;
		}
	}
}