/*! created by Jihe Im from June 2016 */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto);
/* reset */
* {
  box-sizing: border-box; }

li {
  list-style: none; }

h1, h2, h3, h4, h5, h6,
ul, li, ol, dl, dt, dd, p, img {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.050em; }

img, object {
  max-width: 100%; }

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease; }

h1 {
  font-size: 3.125rem; }
  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 1.5625rem; } }

/* layout */
html {
  padding-bottom: 6%;
  font: 16px 'Montserrat', sans-serif;
  background: #fbfbfb;
  color: #333; }

.intro,
.works,
.work-content {
  padding: 0 3% 0 120px; }
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    .intro,
    .works,
    .work-content {
      padding: 0 5% 0 120px; } }
  @media only screen and (max-width: 768px) {
    .intro,
    .works,
    .work-content {
      padding: 5%; } }

/* index */
.intro {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-direction: column;
  height: 85vh; }
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    .intro {
      height: 55vh; } }
  @media only screen and (max-width: 768px) {
    .intro {
      height: 80vh; } }
  .intro h1 {
    position: relative; }
    @media only screen and (max-width: 768px) {
      .intro h1 {
        width: 100%; } }
  .intro strong {
    color: #3c56be; }

.intro-menu {
  position: fixed;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  left: 50px;
  bottom: 6%; }
  @media only screen and (max-width: 768px) {
    .intro-menu {
      width: 100%;
      transform: none;
      background: #3c56be;
      height: 55px;
      line-height: 55px;
      text-align: center;
      z-index: 90; } }
  .intro-menu li {
    display: inline-block; }
    .intro-menu li a {
      margin: 0 20px; }
      @media only screen and (max-width: 768px) {
        .intro-menu li a {
          margin: 0 10px;
          color: #fff; } }
      .intro-menu li a:hover {
        color: #3c56be; }

@media only screen and (max-width: 768px) {
  .headroom {
    top: -55px;
    left: 0;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease; } }

/* scrolling up */
@media only screen and (max-width: 768px) {
  .headroom--pinned {
    top: 0; } }

/* scrolling down */
@media only screen and (max-width: 768px) {
  .headroom--unpinned {
    left: 0;
    top: -55px; } }

/* on top */
@media only screen and (max-width: 768px) {
  .headroom--top {
    top: -55px !important; } }

.back {
  display: none; }
  @media only screen and (max-width: 768px) {
    .back {
      position: relative;
      display: block;
      left: -8px;
      padding: 0 20px;
      font-size: 1.5625rem;
      margin: 0 !important;
      z-index: 100; } }

.works h1 {
  margin-bottom: 25px; }
  @media only screen and (max-width: 768px) {
    .works h1 {
      margin-bottom: 12px; } }

.works-list {
  width: 100%;
  margin-left: -0.75rem;
  *zoom: 1; }
  .works-list:after {
    content: "";
    display: block;
    clear: both; }
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    .works-list {
      margin-left: -0.3125rem; } }
  @media only screen and (max-width: 768px) {
    .works-list {
      margin-left: -0.125rem; } }
  .works-list li {
    width: 25%;
    padding: 0.75rem;
    float: left; }
    @media only screen and (min-width: 769px) and (max-width: 1023px) {
      .works-list li {
        padding: 0.3125rem; } }
    @media only screen and (max-width: 768px) {
      .works-list li {
        width: 50%;
        padding: 0.125rem;
        margin-bottom: 0.625rem; } }
    .works-list li a {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      color: #fff; }
      .works-list li a:hover .works-list-title {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        flex-direction: column; }
    .works-list li img {
      display: block;
      width: 100%; }

.works-list-title {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Roboto',sans-serif;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%; }
  @media only screen and (max-width: 768px) {
    .works-list-title {
      display: block;
      position: static;
      background: none; } }
  .works-list-title div {
    width: 100%; }
  .works-list-title h2 {
    padding: 0 5%;
    letter-spacing: 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    line-height: 1.5rem; }
    @media only screen and (max-width: 768px) {
      .works-list-title h2 {
        padding: 0;
        color: #333;
        font-size: 1rem;
        font-family: 'Montserrat',sans-serif;
        font-weight: normal;
        letter-spacing: -0.050em;
        margin-top: 0.4375rem;
        text-align: left; } }
    .works-list-title h2:after {
      content: "";
      display: block;
      width: 30px;
      height: 1px;
      margin: 20px auto 0;
      background: #fff; }
      @media only screen and (max-width: 768px) {
        .works-list-title h2:after {
          display: none; } }
  .works-list-title p {
    margin-top: 20px;
    text-align: center;
    font-size: 1.5625rem; }
    @media only screen and (max-width: 768px) {
      .works-list-title p {
        color: #333;
        margin-top: 0;
        text-align: left;
        font-size: 0.75rem; } }

/* detail page */
.goback {
  position: fixed;
  top: 2.3125rem;
  left: 2.3125rem;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background: #3c56be; }
  @media only screen and (max-width: 768px) {
    .goback {
      display: none; } }
  .goback i {
    width: 100%;
    color: #fff;
    font-size: 2.3125rem;
    vertical-align: middle;
    margin: 0.3125rem 0 0 -0.1875rem;
    /* 5px -3px */
    text-align: center; }

.work-content {
  padding-top: 120px; }
  @media only screen and (max-width: 768px) {
    .work-content {
      padding: 0 !important; } }

.work-desc {
  margin: 38px 0; }
  @media only screen and (max-width: 768px) {
    .work-desc {
      margin: 15px 0;
      padding: 5%; } }
  .work-desc dl {
    border-bottom: 1px solid #e6e6e6; }
  .work-desc dt {
    display: inline-block;
    margin-right: 24px;
    vertical-align: top;
    color: #646464;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    font-size: 0.75rem;
    line-height: 1.5rem; }
    @media only screen and (max-width: 768px) {
      .work-desc dt {
        display: block;
        margin-right: 0; } }
  .work-desc dd {
    display: inline-block; }

.work-desc-title h2 {
  font-size: 3.125rem;
  display: inline-block;
  vertical-align: middle; }
  @media only screen and (max-width: 768px) {
    .work-desc-title h2 {
      font-size: 1.875rem; } }

.work-desc-link {
  background: #737373;
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.125rem;
  vertical-align: middle; }
  .work-desc-link:hover {
    background: #333; }
  @media only screen and (max-width: 768px) {
    .work-desc-link {
      width: 1.75rem;
      height: 1.75rem;
      line-height: 1.75rem; } }

.work-desc-role {
  padding: 10px 0; }
  @media only screen and (max-width: 768px) {
    .work-desc-role {
      padding: 5px 0; } }
  .work-desc-role span {
    margin-right: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: -0.050em; }
    @media only screen and (max-width: 768px) {
      .work-desc-role span {
        margin-right: 5px;
        font-size: 0.9375rem; } }

.work-desc-article {
  margin: 2.125rem 0 5rem; }
  @media only screen and (max-width: 768px) {
    .work-desc-article {
      margin: 0.9375rem 0 1.25rem; } }

@media only screen and (max-width: 768px) {
  .work-content-list {
    padding: 0 5% 5%; } }
.work-content-list li {
  margin-bottom: 0.75rem;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
